* {
		box-sizing: border-box;
		margin: 0;
		padding: 0;

		font-size: 15px;
}

@media (min-width: 576px) {
		* {
				font-size: 24px;
		}
}

body {
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;

		width: 100vw;
		height: 100vh;

		background-color: #282c34;

		font-family: 'SST', sans-serif;
}

h1, h2, h3, h4 {
		margin: 0;

		font-size: 1.5rem;
}

h3 {
		font-size: 1rem;
}

h4 {
		font-size: 1.5rem;
}

ul {
		margin: 0;
		padding: 0;
}

li {
		display: block;

		list-style: none;
}

.App {
		display: flex;
		flex-direction: column;
		justify-content: space-evenly;
		gap: 1.5rem;

		box-sizing: border-box;

		color: white;
		text-align: center;

		user-select: none;
}

.App-header {
		flex: 1;

		padding: 1.2rem;
}

.App-body {
		display: flex;
		flex: auto;
		flex-direction: column;
		justify-content: center;

		width: 80%;
		margin: 0 auto;
		padding: 0;
}

.footer {
		display: flex;
		flex: 1;
		flex: auto;
		flex-direction: column;
		justify-content: center;

		min-height: 4.5rem;
		padding: 0 0 1rem;
}

.picture {
		width: 70%;
		height: 60%;
		max-height: 15rem;
		margin: 0 auto;

		text-align: center;

		object-fit: cover;
}

.picture img {
		width: 80%;
		height: 80%;
		margin: 0 auto;

		transition: all 1000ms ease;
		/* pointer-events: none; */

		-webkit-user-drag: none;
}

.is-hidden {
		filter: brightness(0) ;
}

/* .is-hidden:hover {
filter: brightness(1) ;
} */

.list {
		display: block;

		width: 80%;
		margin: 2rem auto 1rem;
}

.list li {
		margin: 1rem;
}

.App-link {
		color: #61dafb;
}

.pokemon-item {
		padding: 0.5rem 0;

		background-color: #565f62;
		border: 2px solid #61dafb;

		font-size: 1rem;
		color: white;
		text-transform: capitalize;

		cursor: pointer;
}

.pokemon-item:hover {
		background-color: #354549;
		box-shadow: 0 0 10px 2px rgba(0, 204, 255, 0.819);
		border: 2px solid #32a2c1;

		color: #16dafd;
}

.is-ok, .is-ok:hover {
		background-color: green;
}

.is-not-ok, .is-not-ok:hover {
		background-color: red;
}

.is-disabled {
		background-color: #354549;
		border-color: #537076;

		color: #6b7376;

		pointer-events: none;
}

.only-disabled {
		pointer-events: none;
}
